
<div class="demoTable">
<!--    <div class="layui-inline">
        <input type="text" name="start_time" id="start_time" value="" placeholder="请选择时间" class="layui-input">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
    <button class="layui-btn" id="reset">导出</button>-->
    <table id="demo" lay-filter="myfilter_test"></table>
</div>


<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
    </div>
</script>
<script>
    var id = '<?php echo $id;?>';
    var deviceId = '<?php echo $deviceId;?>';
</script>
<script type="text/html" id="id_img">
    <img src="{{ d.urlPhoto }}" class="img-sm img-center">
</script>
