<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" id="qrcode" name="title" required  lay-verify="required" placeholder="请输入上货员姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">设备</label>
        <div class="layui-input-block">
            <select id="qrcode2" name="city" lay-verify="required">
                <option value="">请选择设备</option>
                {foreach $device as $vo }
                <option value="{$vo.device_id}">{$vo.device_id}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="createCode" lay-filter="formDemo">生成二维码</button>
        </div>
    </div>

</div>


<div id='code'></div>
